[package]
name = "pornos"
version = "0.1.0"
edition = "2021"
authors = ["TornaxO7"]

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bootloader = "0.9.8"
volatile = "0.4.4"
spin = "0.9.2"
lazy_static = { version = "1.4.0", features = ["spin_no_std"]}
